// movie-card.scss

.card {
	width: 100%;

	.card-img {
		height: 500px;
		object-fit: cover;
	}

	.card-body {
		padding: 1.25rem;

		.card-title {
			font-size: 1.25rem;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		.card-text {
			font-size: 0.875rem;
			color: #555555;
			margin-bottom: 1rem;
		}

		.btn {
			margin-top: 1rem;
			width: 100%;
		}
	}
}
